
@{
    ViewData["Title"] = "AddHomeSlides";
}



<div class="container">
    <h2>Add new slider photo.</h2>
    <form asp-controller="Admin" asp-action="AddHomeSlides" method="post" enctype="multipart/form-data" id="myForm">
        <div class="form-group">
            <label class="col-md-12 control-label">Please Upload Your File</label>
            <div class="col-md-12">
                <input type="file" multiple class="form-control-file" name="inputFile" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="SUBMIT" />
        </div>
    </form>
</div>
