
<div class="modal-body loginModalBody">
    <form action="" style="padding: 10px;">
        <div class="form-group formDiv">
            <input type="text" class="form-control formInput">
            <label for="" class="modalLabel">Email Address</label>
        </div>
        <div class="form-group formDiv">
            <input type="password" class="form-control formInput">
            <label for="" class="modalLabel">Password</label>
        </div>
        <div style="margin-top: 30px;">
            <input type="submit" value="log   in" class="btn transparentBtn" style="width: 30%;">
            <span>&nbsp;&nbsp;OR&nbsp;&nbsp;</span>
            <a href="" class="btn transparentBtn transparentBtn-green" style="width: 60%;">
                Register
                New Account
            </a>
        </div>
    </form>
</div>